[Unit]
Description=dnsmasq - A lightweight DHCP and caching DNS server
ConditionFileIsExecutable=/usr/local/bin/piguard
Requires=network.target
Before=nss-lookup.target
After=network.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/run/dnsmasq/dnsmasq.pid

# Test the config file and refuse starting if it is not valid.
ExecStartPre=/usr/local/bin/piguard dnsmasq --test

# We run dnsmasq via the /etc/init.d/dnsmasq script which acts as a
# wrapper picking up extra configuration files and then execs dnsmasq
# itself, when called with the "systemd-exec" function.
ExecStart=/usr/local/bin/piguard dnsmasq --restore

# The systemd-*-resolvconf functions configure (and deconfigure)
# resolvconf to work with the dnsmasq DNS server. They're called like
# this to get correct error handling (ie don't start-resolvconf if the
# dnsmasq daemon fails to start.
ExecStartPost=/usr/local/bin/piguard dnsmasq --start-resolvconf
ExecStop=/usr/local/bin/piguard dnsmasq --stop-resolvconf


ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
