[Unit]
Description=Restore iptables firewall rules
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/piguard iptables --restore

[Install]
WantedBy=multi-user.target