[Unit]
Description=Restore iptables firewall rules
ConditionFileIsExecutable=/usr/local/bin/piguard
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/piguard iptables --restore

[Install]
WantedBy=multi-user.target