[Unit]
Description=Pi-guard
Before=network-pre.target

[Service]
PIDFile=/run/piguard/piguard.pid
ExecStart=/usr/local/bin/piguard daemon --start
ExecStop=/usr/local/bin/piguard daemon --stop
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
